@CHARSET "UTF-8";
			html
			{
			color:#000;			
			background:#fff;
			overflow:auto\9;
			-webkit-text-size-adjust:100%;
			-ms-text-size-adjust:100%;
			}
			
			body,div, textarea,select,button 
			{
				margin:0;
				padding:0;				
				font-family:"Micosoft YaHei";

			}
			html,body
			{
				display:block;
				width:100%;
				height:100%;
				overflow-y:hidden; /*决定着是否有滚动条*/
				overflow-x:hidden;
				background-image:url(../images/seaside.jpg);
				
			
			}
			
			a {text-decoration:none;color:#0fffff; font-size:16px;}
			a:hover {text-decoration:underline;color:red;font-size:16px} //鼠标点击后有下划线
			a:active {text-decoration:;color:black;font-size:40px}
			
			.container
			{
			min-height:500px;
			width:100%;
			height:100%;
			position:absolute;
			}
			.header
			{
			  height:62px;
			  overflow:hidden;
			  overflow-x:hidden;
			  overflow-y:hidden;
			  zoom: 1;
			  border-bottom-width:1 solid #d6dfea;
			  font-size:16px;
  			  background-color:rgba(0, 0, 0, 0.6666);	
			}
			
			.header_logo
			{
				float:left;
				_display:inline;
				width:300px;
				height:50px;
				margin-top:6px;
				margin-left:20px;
				text-indent:-9999em;
				background-size:300px 50px;
				background-repeat:no-repeat;
				background-position:left center;
				background-image:url(../images/logo/logopig.png); /*一个点：表示当前目录；两个点：表示当前目录的上级目录。*/
			}
			
			.welcuser {
				float:left;
				font-size:16px;
				margin-left:20px;
				text-align:center;
			}
			
			a:hover {
				font-size:16px;
				color:red;
				text-decoration:none;
		
			}
			
			.exit {
				float:left;
				margin-left:30px;
				margin-top:5px;
				font-size:20px;
				text-align:center;
				color:	#FFA500;
				background-color: #4169E1;
				height:30px;
				width:60px;
				border-radius:8px; /*css3里面设置div的边框为圆角的样式*/
			}
			
			.exit:hover
			{
				background-color:#00aaee;
				color:#FFA500;
				font-size:20px;
			}
			
			.header_link
			{
				overflow:hidden;
				margin-top:16px;
				padding-right:17px;
				line-height:30px;
				text-align:right;
				color:#eff4fa;
			}
			
			.navigation
			{
				float:left;
				background-color:rgba(0, 0, 0, 0.6);
				height:625px;
				width: 130px;
				color:white;
			}
			
			#line1
			{
				height:2px;
				background-color:blue;
			}
			
			#perInfo
			{
				background-color: #4169E1;
				border-radius:12px;
				font-size:20px;
				text-align:center;
				color:	#ffffff;
		
			}
			
			.per:hover
			{
				color:	#ffffff;
				font-size:20px;
			}
			
			#couInfo
			{
				background-color: #4169E1;
				border-radius:12px;
				font-size:20px;
				text-align:center;
				color:	#ffffff;
				
			}
			
			.cou:hover
			{				
				color:	#ffffff;
				font-size:20px;
			}
			
			#result
			{
				background-color: #4169E1;
				border-radius:12px;
				font-size:20px;
				text-align:center;
				color:	#ffffff;
			}
			
			.res:hover
			{
				color:	#ffffff;
				font-size:20px;
				
			}
			.content
			{
				margin-top:0px;
				margin-left:130px;
				margin-bottom:32px;
				padding-top:25px;
				padding-right:24px;
				padding-bottom:0px;
				padding-left:140px;
				height:680px;
				zoom:1;
			}
			
			#user
			{
				margin-top:25px;
				background-color:#fff;
				border:5;
				width:175px;
				height:34px;
				padding-left:30px;
			}
			
			.line
			{
				background-color:white;
				width:100%;
				height:2px;
			}
			.textillate
			{
				height: 60px;
				width:100%;
				font-size:50px;
				color:#FFA500; /*字体颜色*/
				text-align:center;
				background-color:rgba(0, 0, 0, 0.6666);
			}
					
			.footer
			{
			 	height:25px;
			    overflow-x:hidden;
			    overflow-y:hidden;
			    zoom: 1;
			    position:absolute;
			    left:0;
			    right:0;
			    bottom:0;
			    z-index:2;
			    clear:both;
			    line-height:25px;
			    font-size:12px;
			    font-family:"lucida Grande",Verdana,"Micosoft YaHei";
			    background-color:rgba(0, 0, 0, 0.6666);	
			    text-align:center;		    
			}
			
			.gray
			{
				color:#fff;
			}
			
			.stinput
			{
				background-color: #4169E1;
				border-radius:12px;
				font-size:20px;
				text-align:center;
				color:	#ffffff;
				
			}
			
			.stinput:hover
			{				
				color:	#ffffff;
				font-size:20px;
			}
			
			.Info
			{
				padding-left:20px;
			}
			
			.tb 
			{
				background-color: rgba(0, 0, 0, 0.6);				
				color: #fff;
			}
			
			#inputtb
			{
			
			}
			.save
			{
				display: block;
				float: left;
				background-color: rgba(0, 0, 0, 0.7);
				color: 	#00FA9A;
				width: 100px;
				height: 40px;
				font-size: 24px;
				letter-spacing: 20px;
				text-align: center;
				text-indent: 10px;
			}
			.save:hover
			{
				background-color: gray;
			}
			
			.save:hover
			{
			 background-color: 	#808080; 
			 cursor: pointer;
			}